# Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

In [3]:
merged = ratings.merge(movies, on = 'movieId', how = 'left')

In [4]:
fr = merged.groupby('title').mean().reset_index()[['title', 'rating']]

In [5]:
def range_(row):
    if row['rating'] <= 2.0:
        return 'low rating'
    elif (row['rating'] > 2.0) and (row['rating'] <= 4.0):
        return 'medium rating'
    elif row['rating'] > 4.0:
        return 'high rating'
    else:
        return 'None'

In [7]:
fr['class'] = fr.apply(range_, axis=1)
fr.head(10)

                                     title    rating          class
0         "Great Performances" Cats (1998)  1.750000     low rating
1                             $9.99 (2008)  3.833333  medium rating
2  'Hellboy': The Seeds of Creation (2004)  2.000000     low rating
3          'Neath the Arizona Skies (1934)  0.500000     low rating
4                   'Round Midnight (1986)  2.250000  medium rating
5                      'Salem's Lot (2004)  3.500000  medium rating
6                'Til There Was You (1997)  2.625000  medium rating
7                       'burbs, The (1989)  3.052632  medium rating
8                     'night Mother (1986)  5.000000    high rating
9              (500) Days of Summer (2009)  3.755556  medium rating

# Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [9]:
keywords = pd.read_csv('keywords.csv')

In [8]:
def geo_loc(row):
    if 'москва' in row['keyword'] or 'тула' in row['keyword'] or 'ярославль' in row['keyword']:
        return 'Центр'
    elif 'петербург' in row['keyword'] or 'псков' in row['keyword'] or 'псков' in row['keyword']:
        return 'Северо-Запад'
    elif 'владивосток' in row['keyword'] or 'сахалин' in row['keyword'] or 'хабаровск' in row['keyword']:
        return 'Дальний Восток'
    else:
        return 'None'

In [10]:
keywords['region'] = keywords.apply(geo_loc, axis=1)

In [11]:
keywords['region'].value_counts()

None              99281
Центр               387
Северо-Запад        238
Дальний Восток       94
Name: region, dtype: int64